*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #012a3f;
}

a, 
button {
    cursor: pointer;
}

.kosong {
    padding-top: 50px;
    padding-bottom: 50px;
}

nav {
    width: 100%;
    position: fixed;
    background-color: #012a3f;
    z-index: 5;
    box-shadow: 0px -9px 10px -3px rgba(255, 255, 255, 0.1), 0px -10px 10px -3px rgba(255, 255, 255, 0.1);
}

.logo p {
    font-size: 25px;
    font-family: 'Lobster', cursive;
    background: linear-gradient(to right, #2121f3, #08e6ff, #cf23cf, #eedd44);
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent; 
    position: absolute;
}

.navbar {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    z-index: 3;
}

.logo {
    width: 30px;
    height: 30px;
}

li a {
    color: #ffff;
    text-decoration: none;
}

.navbar .right-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.divider {
    width: 1px;
    height: 20px;
    background-color: #fff;
}

.nav-menu ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Lobster';
    font-size: 15px;
    text-align: center;
    font-weight: 500;

}

.nav-sosial-media ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style-type: none;
    
}

.nav-sosial-media ul li {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    width: 1px;
    height: 20px;
    background-color: white;
}

.container-skill {
    background-color: #012a3f;
    text-align: center;
    padding-bottom: 200px;
    color: white;
}

.header-skill {
    font-family: 'Mulish';
}

.header-skill p:nth-child(1) {
    margin-top: 10px;
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 5px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    font-family: 'Mulish';
}

.header-skill p:last-child {
    margin-top: 10px;
}

.skill {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card-skill {
    background-color: rgb(0, 90, 139);
    width: 200px;
    height: 250px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    transition: transform 0.5s ease;
}

.card-skill:hover {
    transform: translateY(-5px);
    background-color: rgb(0, 0, 0, 17);
    border-radius: 10px;
    scale: 1.1;
    z-index: 2;
    position: relative;
    transition: transform 0.5s ease-in;
}

.icon-skill img {
    font-size: 70px;
    width: 80px;
    height: 80px;
    border-radius: 15px;
    object-fit: cover;
}

.desc-skill p a {
    color: rgb(255, 0, 0);
    text-decoration: underline rgb(255, 0, 0);
    font-family: 'Lobster';
}

.desc-skill h2 {
    font-size: 16px;
}

.desc-skill p {
    font-size: 12px;
    margin-top: 10px;
}

.container-project {
    padding-top: 5px;
    margin-bottom: 200px;
    position: relative;
}

.img-project {
    width: 50%;
    padding-left: 5px;
}

.desc-project {
    width: 50%;
}

.header-project {
    color: white;
    
}

.project {
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px -9px 10px -3px rgba(255, 255, 255, 0.1), 0px 10px 10px -3px rgba(255, 255, 255, 0.1);
    color: white;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    width: 80%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    gap: 20px;
}

.project:nth-child(odd) {
    flex-direction: row;
}

.project:nth-child(even) {
    flex-direction: row-reverse;
}

.desc-project h1 {
    line-height: 50px;
    padding-top: 50px;
    align-items: center;
    background: linear-gradient(to right, #ff0000, #00d8f0, #cf23cf, #edd500);
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent; 
}

.desc-project p {
    padding-right: 10px;
    margin: 15px auto;
    font-size: 30px;
    align-items: flex-start;
    justify-content: left;
}

.read-more {
    width: fit-content;
    background-color: transparent;
    color: white;
    border: solid 3px #3B45DF;
    padding: 5px 10px;
}

.img-project img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0px -9px 10px -3px rgba(255, 255, 255, 0.404), 0px 10px 100px -3px rgba(255, 255, 255, 0.404);
    transition: transform 0.3s ease;
}

.img-project img:hover {
    transform: scale(1.1);
    z-index: 2;
    position: relative;
}

.img-proyect img:hover {
    transform: scale(1.1);
    z-index: 2;
    position: relative;
}

.img-proyect-jungler img:hover {
    transform: scale(1.1);
    z-index: 2;
    position: relative;
}

.img-project img:nth-child(2) {
    margin: -50px;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0px -9px 10px -3px rgba(255, 255, 255, 0.404), 0px 10px -10px 3px rgba(255, 255, 255, 0.404);
    position: relative;
}

.test img {
    width: 50px;
    margin-left: 10px;
    border-radius: 100%;
    gap: 1000px;
    margin-bottom: -15px;
}

.test img:hover {
    transform: scale(1.1);
    z-index: 2;
    position: relative;
}

.title h1 {
    line-height: 50px;
    background: linear-gradient(to right, #ff0000, #00d8f0, #cf23cf, #edd500);
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent; 
    align-items: center;
    justify-content: center;
    padding-left: 410px;
    align-items: center;
}

.title-jungler h1 {
    line-height: 50px;
    background: linear-gradient(to right, #000000, #ff0000, #1900ff, #edd500);
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent; 
    align-items: center;
    justify-content: center;
    padding-left: 410px;
    align-items: center;
}

.title-roamer h1 {
    background: linear-gradient(to right, #ff0000, #00d8f0, #cf23cf, #edd500);
    line-height: 50px;
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent; 
    align-items: center;
    justify-content: center;
    padding-left: 410px;
    align-items: center;
}

.title-midlane h1 {
    line-height: 50px;
    background: linear-gradient(to right, #000000, #ff0000, #1900ff, #edd500);
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent; 
    align-items: center;
    justify-content: center;
    padding-left: 410px;
    align-items: center;
}

.proyect-desc {
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px -9px 10px -3px rgba(255, 255, 255, 0.1), 0px 10px 10px -3px rgba(255, 255, 255, 0.1);
    color: white;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    width: 80%;
    margin: 0px auto;
    align-items: center;
    margin-bottom: 70px;
}

.proyect:nth-child(odd) {
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px -9px 10px -3px rgba(255, 255, 255, 0.1), 0px 10px 10px -3px rgba(255, 255, 255, 0.1);
    color: white;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    width: 80%;
    margin: 0px auto;
    align-items: center;
    margin-bottom: 70px;
}

.proyect:nth-child(even) {
    color: white;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    width: 80%;
    margin: 0px auto;
    align-items: center;
    margin-bottom: 70px;
}

.img-proyect {
    width: 50%;
    padding-left: 43px;
    padding-right: 110px;
    display: flex;
    gap: 30px;
    margin: 50px;
}

.img-proyect img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0px -9px 10px -3px rgba(255, 255, 255, 0.404), 0px -10px 10px -3px rgba(255, 255, 255, 0.404);
    transition: transform 0.3s ease;
}

.img-proyect-jungler {
    width: 50%;
    padding-left: 43px;
    padding-right: 110px;
    display: flex;
    gap: 30px;
    margin: 50px;
}

.img-proyect-jungler img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0px -9px 10px -3px rgba(255, 255, 255, 0.404), 0px -10px 100px -3px rgba(255, 255, 255, 0.404);
    transition: transform 0.3s ease;
}

.desc-proyect p {
    justify-content: center;
    text-align: justify;
    text-decoration: none;
    padding-right: 100px;
    font-family: 'Noto Sans Japanese';
    margin: 10px;
    font-size: 24px;
}

.desc-proyect-jungler p {
    justify-content: center;
    text-align: justify;
    text-decoration: none;
    padding-right: 100px;
    font-family: 'Noto Sans Japanese';
    margin: 10px;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 35px;
}

.scroll-bg {
    background: rgb(0, 0, 0);
    width: 80%;
    margin: 10px auto;
    padding: 50px 40px;
    border-radius: 30px;
}

.scroll-bar {
    width: 1000px;
    background: rgb(38, 36, 36);
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 10px;
    padding: 15px;
    padding-left: 40px;
    margin: 20px auto;
}

.scroll {
    color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    margin: 15px 0px;
}

.scroll img {
    width: 180px;
    height: 230px;
    margin: 3px;
    border-radius: 10px;
    cursor: pointer;
}

.navbar-he {
    display: flex;
    padding-bottom: 30px;
    margin: 10px;
    padding-top: 0px;
}

.navbar-he img {
    width: 150px;
    height: 150px;
    padding: 10px 80px;
    border-radius: 100%;
    padding-bottom: 10px;
    cursor: pointer;
}

.nick {
    padding-top: -10px;
}

.nick h1 {
    color: white;
    font-family: 'Mulish';
    font-size: 25px;
    margin: 15px;
    padding-top: 10px;
    padding-left: -100px;
    letter-spacing: 2px;
}

.nick h2 {
    display: flex;
    gap: 20px;
    color: white;
    font-family: 'Mulish';
    font-size: 20px;
    padding: 15px;
    
}

.loading-header {
    padding: 10px;
    margin: 5px;
}

.judul {
    display: flex;
}

.judul p {
    font-family: 'Noto Sans Japanese';
    color: white;
    padding-left: 40px;
    font-size: 25px;
}

.judul h1 {
    font-family: 'Noto Sans Japanese';
    color: white;
    padding-left: 10px;
    font-size: 25px;
}

.loading {
    padding-left: 10px;
    padding-top: 10px;
}

.g {
    background-color: white;
    width: 300px;
    height: 9px;
}

.l {
    background-color: white;
    width: 275px;
    height: 8px;
}

.h {
    background-color: rgb(255, 102, 0);
    width: 20px;
    height: 9px;
}

.j {
    background-color: rgb(255, 102, 0);
    width: 40px;
    height: 9px;
}

.n {
    background-color: rgb(255, 102, 0);
    width: 58px;
    height: 8px;
}

::-webkit-scrollbar {
    width: 15px;
}

@media only screen and (max-width: 1300px) {
    .about {
        padding: 50px;
        box-sizing: border-box;
        background-color: rgb(0, 90, 139);
        width: 85%;
        margin: 50px auto 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        box-shadow: 0px -9px 10px -3px rgba(255, 255, 255, 0.1), 0px -10px 10px -3px rgba(255, 255, 255, 0.1);
    }

    .img-hero {
        width: fit-content;
    }

    .desc-hero {
        width: 90%;
        text-align: center;
    }

    .container-project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .project:nth-child(odd), .project:nth-child(even) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .desc-project {
        width: 90%;
        margin-top: 120px;
    }

    
}